{% extends 'nav.html' %}
{% block title%}
| Register
{% endblock title%}


{% block body %}

  {%block content%}
   <center>
   <h1> Register to get updates on Events</h1>
   <br/><br/>
   {% if submitted %}
   
   <div class="alert alert-dark" role="alert">
   
 you are registered!
</div>

   {% else %}

   <form action="" method="POST" style="width: 800px;">
    {% csrf_token %}


    {{ form.as_p }}

    <input type="submit" value="Submit" class="btn btn-secondary">


   </form>
    {% endif %}
   </center>
   {% endblock%}

 {%endblock body%}  





